<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sizesByPrefix</key>
	<dict>
		<key>icon</key>
		<string>{32, 32}</string>
	</dict>
	<key>sizes</key>
	<dict>
		<key>bathroom</key>
		<string>{66, 34}</string>
		<key>front door</key>
		<string>{32, 48}</string>
		<key>pac man</key>
		<string>{74, 74}</string>
		<key>scale circle</key>
		<string>{96, 96}</string>
	</dict>
</dict>
</plist>
